---
page_title: "Function: numeric_functions"
description: |-
  The type of the None singleton.
---

# numeric_functions (Function)

The type of the None singleton.

## Example Usage

{{ example("example") }}

## Signature

`{{ signature_markdown }}`

## Arguments

{{ arguments_markdown }}

{% if has_variadic %}
## Variadic Arguments

{{ variadic_argument_markdown }}
{% endif %}
